body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.MuiDrawer-paper {
  background-color: #1a1a2e !important;
  color: white !important;
}

.MuiDrawer-paper .MuiListItemText-primary {
  color: white !important;
}

.MuiDrawer-paper .MuiListItemIcon-root {
  color: white !important;
}